server {
    listen 443;

    sendfile off;

    server_name dev.secretsantaorganizer.com;
    root /vagrant/web;

#    RewriteEngine On
#    RewriteCond %{HTTP_HOST} !dev.secretsantaorganizer.com [NC]
#    RewriteRule ^(.*)$ https://dev.secretsantaorganizer.com$1 [L,R=301]

#    RewriteRule ^/([a-z]{2})/entry(/.+)/?$ $1/participant$2 [L,R=301]
#    RewriteRule ^/(zh-Hans|zh-hant)/entry(/.+)/?$ $1/participant$2 [L,R=301]
#    Redirect 301 /entry/ https://www.secretsantaorganizer.com/participant/

#    Redirect 301 /ch http://www.secretsantaorganizer.com/zh-Hans/
#    Redirect 301 /nl/what http://www.secretsantaorganizer.com/nl/faq
#    Redirect 301 /nl/questions http://www.secretsantaorganizer.com/nl/faq
#    Redirect 301 /nl/lost http://www.secretsantaorganizer.com/nl/faq
#    Redirect 301 /nl/combinations http://www.secretsantaorganizer.com/nl/faq
#    Redirect 301 /fr/combinations http://www.secretsantaorganizer.com/fr/faq
#    Redirect 301 /es/combinations http://www.secretsantaorganizer.com/es/faq
#    Redirect 301 /es/lost http://www.secretsantaorganizer.com/es/faq
#    Redirect 301 /fr/lost http://www.secretsantaorganizer.com/fr/faq
#    Redirect 301 /fr/what http://www.secretsantaorganizer.com/fr/faq
#    Redirect 301 /questions http://www.secretsantaorganizer.com/faq
#    Redirect 301 /lost http://www.secretsantaorganizer.com/faq
#    Redirect 301 /combinations http://www.secretsantaorganizer.com/faq
#    Redirect 301 /fr/questions http://www.secretsantaorganizer.com/fr/faq
#    Redirect 301 /404 http://www.secretsantaorganizer.com/faq
#    Redirect 301 /what http://www.secretsantaorganizer.com/faq
#    Redirect 301 /FR/index.oo-software.htm http://www.secretsantaorganizer.com/fr/faq
#    Redirect 301 /privacy-policy https://www.secretsantaorganizer.com/privacy

    ssl on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    ssl_ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA;

    ssl_prefer_server_ciphers on;
    ssl_session_timeout 5m;
    ssl_session_cache shared:SSL:5m;

    add_header Strict-Transport-Security "max-age=31536000"; # enforce secure
    add_header X-Frame-Options "DENY"; # clickjacking protection
    add_header X-Xss-Protection "1; mode=block" always;
    add_header X-Content-Type-Options "nosniff" always;
    #add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; font-src 'self';";

    # No cache
    add_header Cache-Control "no-cache, no-store, must-revalidate";
    add_header Pragma "no-cache";
    add_header Expires "0";

    ssl_certificate_key /etc/ssl/private/dev.secretsantaorganizer.com.key;
    ssl_certificate /etc/ssl/dev.secretsantaorganizer.com.pem;

    location / {
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/(config|app|app_dev)\.php(/|$) {
        fastcgi_pass unix:/var/www/run/php-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

#    <IfModule mod_expires.c>
#        ExpiresActive On
#        ExpiresDefault "access plus 1 seconds"
#        ExpiresByType application/font-woff "access plus 1 month"
#        ExpiresByType application/x-font-woff "access plus 1 month"
#        ExpiresByType font/woff "access plus 1 month"
#        ExpiresByType image/gif "access plus 1 month"
#        ExpiresByType image/jpeg "access plus 1 month"
#        ExpiresByType image/png "access plus 1 month"
#        ExpiresByType text/css "access plus 1 month"
#        ExpiresByType text/javascript "access plus 1 month"
#        ExpiresByType application/x-javascript "access plus 1 month"
#        ExpiresByType application/javascript "access plus 1 month"
#    </IfModule>

    error_log /var/www/logs/dev.secretsantaorganizer.com.error.log;
    access_log /var/www/logs/dev.secretsantaorganizer.com.access.log;

    error_page 503 /503.html;
}

server {
    listen 80;

    server_name dev.secretsantaorganizer.com;

    add_header X-Frame-Options "DENY"; # clickjacking protection
    add_header X-Xss-Protection "1; mode=block" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Security-Policy "default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';";

    return 301 https://dev.secretsantaorganizer.com$request_uri;

    error_log /var/www/logs/dev.secretsantaorganizer.com.error.log;
    access_log /var/www/logs/dev.secretsantaorganizer.com.access.log;
}
