# PHP

- include: php71.yml
- include: extensions.yml

#- name: Detect composer installation
#  stat:
#    path: /usr/local/bin/composer.phar
#  register: composer_file
#
#- name: Install composer
#  get_url:
#    url: https://getcomposer.org/composer.phar
#    dest: /usr/local/bin/composer.phar
#    mode: a+x
#  when: not composer_file.stat.exists
#
#- name: Detect phpunit installation
#  stat:
#    path: /usr/local/bin/phpunit.phar
#  register: phpunit_file
#
#- name: Install phpunit
#  get_url:
#    url: https://phar.phpunit.de/phpunit.phar
#    dest: /usr/local/bin/phpunit.phar
#    mode: a+x
#  when: not phpunit_file.stat.exists
