# PHP

- name: Install php
  openbsd_pkg:
    state: present
    name: "{{ item }}"
  with_items:
    - php%7.0
#    - php-curl%7.0
    - php-intl%7.0

- name: Symlink php binaries
  file:
    src: /usr/local/bin/{{ item.from }}
    dest: /usr/local/bin/{{ item.to }}
    state: link
  with_items:
    - { from: php-7.0 , to: php }
    - { from: php-config-7.0 , to: php-config }
    - { from: phpize-7.0 , to: phpize }

- name: Install autoconf
  openbsd_pkg:
    name: "{{ item }}"
    state: present
  with_items:
    - autoconf-2.69p2
    - autoconf-archive

- name: Detect apcu installation
  command: php -m | grep apcu
  register: detect_apcu
  ignore_errors: true

- name: Get apcu
  git:
    repo: https://github.com/krakjoe/apcu
    dest: /tmp/apcu
  when: detect_apcu|failed

- name: Install apcu
  command: "{{ item }}"
  args:
    chdir: /tmp/apcu
  with_items:
    - phpize
    - ./configure
    - make
    - make install
  when: detect_apcu|failed

- name: Detect xdebug installation
  command: php -m | grep xdebug
  register: detect_xdebug
  ignore_errors: true

- name: Get xdebug
  git:
    repo: https://github.com/xdebug/xdebug
    dest: /tmp/xdebug
  when: detect_xdebug|failed

- name: Install xdebug
  command: "{{ item }}"
  args:
    chdir: /tmp/xdebug
  with_items:
    - phpize
    - ./configure
    - make
    - make install
  when: detect_xdebug|failed

- name: Enable extensions
  template:
    src: "{{ item }}.ini.j2"
    dest: /etc/php-7.0/{{ item }}.ini
  with_items:
#    - curl
    - intl
    - apcu
    - xdebug

- name: Set php timezone
  lineinfile:
    path: /etc/php-7.0.ini
    regexp: '^date.timezone ='
    line: 'date.timezone = Europe/Brussels'

- name: Configure php-fpm
  copy:
    src: files/php-fpm.conf
    dest: /etc/php-fpm.conf

- name: Set php-fpm user
  lineinfile:
    path: /etc/php-fpm.conf
    regexp: '^user ='
    line: 'user = vagrant'

- name: Set php-fpm user
  lineinfile:
    path: /etc/php-fpm.conf
    regexp: '^group ='
    line: 'group = vagrant'

- name: Start php-fpm
  service:
    name: php70_fpm
    state: started
    enabled: yes

- name: Detect composer installation
  stat:
    path: /usr/local/bin/composer.phar
  register: composer_file

- name: Install composer
  get_url:
    url: https://getcomposer.org/composer.phar
    dest: /usr/local/bin/composer.phar
    mode: a+x
  when: not composer_file.stat.exists

- name: Detect phpunit installation
  stat:
    path: /usr/local/bin/phpunit.phar
  register: phpunit_file

- name: Install phpunit
  get_url:
    url: https://phar.phpunit.de/phpunit.phar
    dest: /usr/local/bin/phpunit.phar
    mode: a+x
  when: not phpunit_file.stat.exists
