127.0.0.1       localhost
::1             localhost

127.0.0.1       {{ hostname }}

127.0.0.1       {{ app_domain }}
127.0.0.1       phpmyadmin.{{ app_domain }}
127.0.0.1       mails.{{ app_domain }}
